* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
div {
	position: relative;
}
h1 {
	margin-bottom: 15px; 
    text-align: center;
}
h2 {
	border: 1px solid black;
	text-align:center;
	position: absolute;
	right: 0;
	padding: .3%;
	margin-right: 7.5%
}
.box {
	border: 1px solid black;
	background-color: LightGray;
	width: 90%;
	height: 200px;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 10px;
	font-family: Arial, Helvetica;
	color: solid black;
	float: left;
	padding-top: 35px;
	padding-left: 35px;
	padding-bottom: 35px;
	overflow: auto;
}

#h2a {
	background-color: Red;	
}
#h2b {
	background-color: Pink;
	color: White;
}
#h2c {
	background-color: #FFD700;
}

/* Resposive Framework */
.row {
	width: 100%;
}

/* Large device */
@media (min-width: 992px) {
	.col-lg-1, .col-lg-2, .col-lg-3 {
		float: left;
	/*	border: 1px solid black; */
	    }
		.col-lg-1 {
			width: 33.33%;
		}
		.col-lg-2 {
			width: 33.33%;
		}
		.col-lg-3 {
			width: 33.33%;
		}
	}
/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-1, .col-md-2, .col-md-3 {
		float: left;
		border: 1px solid black;
	    }
		.col-md-1 {
			width: 50%;
		}
		.col-md-2 {
			width: 50%;
		}
		.col-md-3 {
			width: 50%;
		}
	}
/* Moble */
@media (max-width: 767px) {
	.col-sm-1, .col-sm-2, .col-sm-3 {
		float: left;
		border: 1px solid black;
	    }
		.col-sm-1 {
			width: 100%;
		}
		.col-sm-2 {
			width: 100%;
		}
		.col-sm-3 {
			width: 100%;
		}
	} 
